body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh; /* Full viewport height */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

/* Navigation Bar Styles */
.navbar {
  background-color: #333; /* Dark background */
  color: white;
  padding: 10px 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  list-style: none;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
}

/* Container for left and right sides */
.container {
  display: flex;
  position: relative;
  height: calc(136vh - 60px);
}

/* Left side element styles (Trapezoid Shape with Background Image) */
.left-side {
  position: absolute; /* Use absolute positioning to overlap */
  background-color: black; /* Solid black */
  color: rgb(241, 236, 236);
  width: 65%; /* Left side takes up 60% of the width */
  height: 100%; /* Full height */
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%); /* Trapezoid shape for left side */
  /*padding: 20px; /* Padding for content */
  z-index: 2; /* Ensure it's above the right side */
}

/* Right side styles (Trapezoid Shape) */
.right-side {
  position: relative;
  /*width: 35%; */
  width: 100%;
  height: 100%; /* Full height */
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);  /*Trapezoid shape */
  background-color: black; /* Solid black */
}
